:root {
  --color-offBlack:rgb(15,15,15);
  --color-offBlack2:rgb(30,30,30);
  --color-grey-200:rgb(200, 200, 200);
  --color-whitePrimary:rgb(245, 245, 245);
  --color-whiteSecondary:rgb(220, 220, 220);
  --color-goldPrimary:rgb(200, 170, 0); }

* {
  margin: 0;
  padding: 0; }

*, *::before, *::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: Helvetica, sans-serif;
  background: var(--color-offBlack);
  color: white;
  display: flex;
  position: relative;
  flex-direction: column; }

.header {
  height: 100vh;
  background-image: radial-gradient(rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0.8) 65%), url("/img/fifth.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .header__container {
    backdrop-filter: blur(2px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .header__container--contents {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center; }
      @media (max-width: 50rem) {
        .header__container--contents {
          margin: none; } }

.navbar {
  height: 15vh;
  width: 100%;
  padding: auto;
  display: flex;
  justify-content: center; }
  .navbar__list {
    height: 100%;
    width: 65%;
    display: flex;
    justify-content: space-evenly;
    list-style: none; }
  .navbar__link {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 2.5rem;
    padding: 4rem;
    display: flex;
    align-items: center;
    height: 100%; }
    .navbar__link:link, .navbar__link:visited {
      text-decoration: none;
      color: var(--color-whitePrimary); }
    .navbar__link:hover {
      color: var(--color-goldPrimary);
      transform: scale(1.1); }
    .navbar__link:active {
      color: var(--color-grey-200); }

.logo {
  width: 30%;
  backdrop-filter: blur(100px); }
  @media (max-width: 50rem) {
    .logo {
      width: 75%; } }

.button__container {
  margin-top: 2rem;
  font-size: 0;
  display: flex;
  width: 25%; }
  @media (max-width: 50rem) {
    .button__container {
      width: 80%; } }

.btn {
  background-color: var(--color-offBlack);
  color: var(--color-whitePrimary);
  flex: 1 0;
  margin: 0;
  padding: 1rem;
  font-family: Helvetica, sans-serif;
  font-size: 1.5rem;
  outline: none;
  border: 2px solid var(--color-whiteSecondary);
  height: 100%;
  text-align: center;
  transition: all 0.5s; }
  .btn:link, .btn:visited {
    text-decoration: none; }
  .btn:hover {
    z-index: 2;
    transition: all .5s;
    cursor: pointer;
    transform: scale(1.1);
    background-color: black;
    box-shadow: 1px 4px 15px 15px rgba(255, 255, 255, 0.75); }
  .btn:active {
    background-color: var(--color-offBlack2); }
  .btn:not(:last-child) {
    border-right: 2px solid var(--color-whiteSecondary); }
  .btn:first-child {
    border-radius: 1rem 0 0 1rem; }
  .btn:last-child {
    border-radius: 0 1rem 1rem 0; }

.socials {
  position: fixed;
  top: 10vh;
  left: 1rem;
  background-color: blue;
  z-index: 100; }

.event {
  min-height: 150vh;
  background: radial-gradient(circle at 50% 50%, #4b4b4b 5%, black 50%);
  padding: 5vh 10vw;
  display: flex;
  flex-direction: column;
  border: .5rem white solid;
  border-radius: .5rem; }
  @media (max-width: 50rem) {
    .event {
      padding: 0; } }
  .event__header {
    text-transform: uppercase;
    font-size: 5rem;
    margin-bottom: 5vh;
    text-align: center; }
  .event__card {
    width: 100%;
    flex: 1 0;
    background-color: var(--color-whitePrimary);
    margin-bottom: 10vh;
    display: flex;
    border-radius: 1rem; }
    @media (max-width: 50rem) {
      .event__card {
        flex-direction: column;
        margin-bottom: 2vh; } }
    .event__card--tuesday {
      border: 0.5rem solid #31277f;
      box-shadow: 1px 4px 15px 15px rgba(49, 39, 127, 0.75); }
      @media (max-width: 50rem) {
        .event__card--tuesday {
          box-shadow: none; } }
    .event__card--friday {
      border: 0.5rem solid #640350;
      box-shadow: 1px 4px 15px 15px rgba(100, 3, 80, 0.75); }
      @media (max-width: 50rem) {
        .event__card--friday {
          box-shadow: none; } }
    .event__card--saturday {
      border: 0.5rem solid #28ddb0;
      box-shadow: 1px 4px 15px 15px rgba(40, 221, 176, 0.75); }
      @media (max-width: 50rem) {
        .event__card--saturday {
          box-shadow: none; } }
  .event__info {
    padding: 2rem;
    font-size: 2rem;
    color: var(--color-offBlack); }
    @media (max-width: 50rem) {
      .event__info {
        font-size: 1.6rem; } }
  .event__img {
    width: 25%;
    border-radius: 1rem; }

#tuesday {
  background: white; }

.footer {
  min-height: 15vh;
  background-color: white; }

.faq {
  min-height: 100vh;
  background: radial-gradient(circle at 50% 50%, #4b4b4b 5%, black 50%); }
