.about {
  background-image: url(/img/landingBack.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .about__header {
    text-align: justify;
    font-size: 1.2vw;
    letter-spacing: .2vw;
    color: #252525;
    line-height: 1.5vw;
    margin-bottom: 3vw; }

:root {
  --color-red:rgb(255, 0, 0); }

* {
  margin: 0;
  padding: 0; }

*, *::before, *::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  position: relative;
  min-height: 100vh;
  max-width: 100vw; }

cite {
  color: #db0000; }

a {
  display: block;
  height: 100%;
  width: 100%; }

/* width */
::-webkit-scrollbar {
  width: 2rem; }

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c80000;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: #af0000; }

.container {
  position: relative;
  min-height: 90vh;
  max-width: 100vw;
  padding: 3vw 10vw;
  background-color: white;
  display: flex;
  align-items: stretch; }
  .container--services {
    position: relative;
    min-height: 90vh;
    max-width: 100vw;
    padding: 3vw 10vw;
    background-color: white;
    display: flex;
    align-items: stretch; }
    @media (max-width: 767px) {
      .container--services {
        padding: 0;
        min-height: 100vh; } }
  @media (max-width: 767px) {
    .container {
      padding: 2.5vw 5vw; } }
  @media (min-height: 1000px) {
    .container {
      max-height: 100vw; } }
  .container--black {
    background-color: #0c0c0c; }
  .container--pricing {
    background-image: url(../img/pricing.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/pricing.jpg);
    background-position: center;
    background-size: cover; }

.fas {
  font-size: 5vw;
  color: black; }

article {
  width: 100%;
  min-height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative; }

.heading {
  text-transform: uppercase;
  font-size: 6vw;
  position: relative;
  margin-bottom: 1vw;
  font-weight: 400; }
  .heading::after {
    margin: 0 auto;
    display: block;
    content: "";
    width: 5vw;
    border-bottom: 0.5vw dotted red; }
  @media (max-width: 767px) {
    .heading--services {
      display: none; } }

.heading--quote {
  font-size: 1.5vw; }
  @media (max-width: 1050px) {
    .heading--quote {
      font-size: 2vw; } }

.text-block {
  text-align: justify;
  font-size: 1.5vw;
  letter-spacing: .2vw;
  color: #252525;
  line-height: 1.8vw;
  margin-bottom: 3vw; }
  @media (max-width: 1050px) {
    .text-block {
      font-size: 2.2vw;
      line-height: 2.7vw;
      margin-bottom: 3.2vw; } }
  @media (max-width: 767px) {
    .text-block {
      font-size: 2.7vw;
      line-height: 3.2vw;
      margin-bottom: 3.7vw; } }
  @media (max-width: 600px) {
    .text-block {
      font-size: 3.5vw;
      line-height: 4vw;
      margin-bottom: 4.5vw; } }
  @media (max-width: 450px) {
    .text-block {
      font-size: 4vw;
      line-height: 4.5vw;
      margin-bottom: 5vw; } }
  @media (max-width: 350px) {
    .text-block {
      font-size: 4.5vw;
      line-height: 5vw;
      margin-bottom: 5.5vw; } }
  .text-block--center {
    text-align: center; }
  .text-block__quote {
    font-size: 1.5vw;
    text-transform: uppercase !important;
    font-weight: 800; }
    @media (max-width: 1050px) {
      .text-block__quote {
        font-size: 2.2vw; } }
    @media (max-width: 767px) {
      .text-block__quote {
        font-size: 2.7vw; } }
    @media (max-width: 600px) {
      .text-block__quote {
        font-size: 3.5vw; } }
    @media (max-width: 450px) {
      .text-block__quote {
        font-size: 4vw; } }
    @media (max-width: 350px) {
      .text-block__quote {
        font-size: 4.5vw; } }

.red {
  color: red; }

.projectExample {
  background-image: url(../img/TiggerThoughts.jpg); }

#webDev {
  background-image: url(../img/webDev.jpg); }

#socialMedia {
  background-image: url(../img/socials.jpg); }

#brandDesign {
  background-image: url(../img/design.jpg); }

#copyWriting {
  background-image: url(../img/copywrite.jpg); }

.capabilities {
  background-image: url(../img/capabilities.jpg); }

.item-header {
  z-index: 2;
  position: absolute;
  bottom: 50%;
  left: 50%;
  cursor: pointer;
  transform: translate(-50%, 50%);
  font-size: 1.8vw;
  font-weight: 400;
  color: white;
  text-shadow: black 2px 2px; }
  @media (max-width: 768px) {
    .item-header {
      font-size: 5vw; } }

.underline {
  text-decoration: underline; }

.align-left {
  text-align: left !important; }

.align-right {
  text-align: right !important; }

.actionBtn {
  background-color: #a10000;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #e0e0e0; }
  .actionBtn:hover {
    background-color: #be0000;
    transform: scale(1.02); }
  .actionBtn:active {
    background-color: #a10000; }
  .actionBtn__link {
    text-decoration: none; }

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: black;
  height: 20vh;
  text-align: center; }

.margin-top-small {
  margin-top: 5vh; }

.white-text {
  color: white !important; }

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical; }

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #a10000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:active, input[type=submit]:hover {
  background-color: #c80000; }

label {
  font-size: 1.5rem; }

/* Add a background color and some padding around the form */
.container--form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px; }

.logo {
  width: 25vw; }
  @media (max-width: 768px) {
    .logo {
      width: 40vw; } }

.header {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  position: relative;
  background-color: black;
  font-weight: 00;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center; }
  .header-logo {
    width: 80%; }
    @media (max-width: 768px) {
      .header-logo {
        width: 100vw; } }
  .header__index {
    background-color: white; }

.navbar {
  margin-top: 5vh;
  position: absolute;
  top: 3vh;
  display: flex;
  height: 7.5vh;
  font-size: 3vh;
  align-items: center;
  width: 85%;
  font-weight: 400;
  text-transform: uppercase; }
  @media (max-width: 1000px), (min-height: 1000px) {
    .navbar {
      width: 100%;
      font-size: 2vw; } }
  @media (max-width: 768px) {
    .navbar {
      font-size: 2.5vw; } }
  @media (max-width: 480px) {
    .navbar {
      margin-top: 0;
      height: 20vh;
      font-size: 4vw; } }
  .navbar__list {
    flex-wrap: wrap;
    list-style: none;
    display: flex;
    justify-content: space-around; }
  .navbar__link {
    flex-grow: 2;
    transition: all .5s;
    margin: 0 2vw;
    padding: .5rem 0; }
    .navbar__link:active, .navbar__link:link, .navbar__link:visited {
      text-decoration: none;
      color: black; }
      .navbar__link:active:hover, .navbar__link:link:hover, .navbar__link:visited:hover {
        transition: all .5s;
        transform: translateY(-0.5rem) scale(1.2);
        text-shadow: 3px 3px #300000;
        color: #bebebe; }

.projects {
  height: 92vh;
  max-width: 100%;
  padding: 2rem 7rem;
  background: #e4e4e6;
  position: relative; }
  @media (max-width: 1250px) {
    .projects {
      padding: 1rem 6rem;
      height: 95vh; } }
  @media (max-width: 1000px) {
    .projects {
      height: 50vh; } }
  @media (max-width: 850px) {
    .projects {
      height: 35vh;
      padding: .5rem 3rem; } }
  @media (max-width: 550px) {
    .projects {
      height: 30vh;
      padding: 0rem; } }

.carousel {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  overflow: hidden; }
  .carousel__slide {
    height: 100%;
    width: 100%;
    display: flex;
    margin-bottom: 2rem;
    position: absolute;
    transform: translateX(-100%); }
  .carousel__article {
    overflow: hidden;
    display: flex;
    margin: 2rem 2.5rem;
    flex-direction: column;
    flex: 1 0; }
    @media (max-width: 1250px) {
      .carousel__article {
        margin: 1rem; } }
    @media (max-width: 1000px) {
      .carousel__article {
        margin: 0; } }
  .carousel__design {
    height: auto;
    width: 75%;
    margin: auto 0; }
    @media (max-width: 1250px) {
      .carousel__design {
        width: 100%; } }
    .carousel__design--container {
      overflow: hidden;
      background: white;
      display: flex;
      justify-content: center;
      border: 0.4rem solid #0f0f0f;
      border-radius: 1rem;
      min-height: 50%;
      margin: 0 auto;
      padding: 0 auto; }
      @media (max-width: 1000px) {
        .carousel__design--container {
          height: 50vh;
          border: 0.2rem solid #0f0f0f; } }
      @media (max-width: 550px) {
        .carousel__design--container {
          border-radius: 0; } }
    .carousel__design:hover {
      cursor: pointer; }
  .carousel__info {
    font-size: 1.8rem;
    font-weight: 300; }
    @media (max-width: 1250px) {
      .carousel__info {
        font-size: 1.6rem; } }
    .carousel__info--container {
      padding: 1rem;
      text-align: justify; }
      @media (max-width: 1250px) {
        .carousel__info--container {
          text-align: center; } }
      @media (max-width: 1000px) {
        .carousel__info--container {
          display: none; } }
  .carousel__header {
    text-align: center;
    margin: .5rem 0 1rem; }
  .carousel--btn {
    z-index: 5;
    display: flex;
    border: none;
    outline: none;
    background: none;
    position: absolute;
    height: 100%;
    width: 7.5%;
    align-items: center;
    justify-content: center;
    top: 0; }
    @media (max-width: 1250px) {
      .carousel--btn {
        width: 6.5%; } }
    @media (max-width: 550px) {
      .carousel--btn {
        width: 10%; } }
    .carousel--btn:hover {
      background: rgba(131, 131, 131, 0.418);
      cursor: pointer; }
    .carousel--btn:hover .flaticon__button {
      color: black;
      transform: scale(1.2); }
    .carousel--btn-left {
      left: 0; }
    .carousel--btn-right {
      right: 0; }

.enhance {
  display: inline-block;
  max-height: 75%;
  max-width: 50%;
  padding: auto; }
  @media (max-width: 550px) {
    .enhance {
      max-height: 100%;
      max-width: 85%;
      padding: auto 0; } }
  .enhance--container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: -1;
    backdrop-filter: blur(4px);
    top: 0;
    height: 100vh;
    width: 100vw; }

.show {
  z-index: 10 !important; }

#delete {
  position: absolute;
  top: 5vh;
  right: 5vw;
  border: none;
  border-radius: 1rem;
  outline: none;
  padding: 1rem;
  font-size: 5rem;
  z-index: 10; }
  #delete:hover {
    cursor: pointer;
    color: red; }
  #delete:active {
    color: #aa0000; }

#indigo {
  margin: auto 0; }

#alex {
  margin: auto 0; }

.flaticon__button {
  font-size: 5rem;
  color: rgba(15, 15, 15, 0.5); }
  @media (max-width: 1250px) {
    .flaticon__button {
      font-size: 3rem; } }
  @media (max-width: 550px) {
    .flaticon__button {
      color: black; } }

/*
    Flaticon icon font: Flaticon
    Creation date: 24/08/2020 22:44
    */
@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"), url("./Flaticon.woff2") format("woff2"), url("./Flaticon.woff") format("woff"), url("./Flaticon.ttf") format("truetype"), url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg"); } }

.fi:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

.flaticon-close:before {
  content: "\f100"; }

.flaticon-left-chevron:before {
  content: "\f101"; }

.flaticon-right-chevron:before {
  content: "\f102"; }

.article-location {
  display: relative;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh; }

.popout__container {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  flex-wrap: wrap; }

.popout__window {
  display: relative;
  background-color: black;
  height: 100%;
  padding: 2vw; }

.popout__header {
  font-size: 3vw;
  color: white; }
  @media (max-width: 90px) {
    .popout__header {
      font-size: 4vw; } }
  .popout__header--container {
    display: flex; }

.popout__quote {
  color: white;
  font-size: 2vw;
  margin-top: 1vw; }
  @media (max-width: 900px) {
    .popout__quote {
      font-size: 2.5vw; } }

.popout__text {
  color: #d1d1d1;
  font-size: 1.3vw;
  margin-top: 2vw; }
  .popout__text--container {
    margin: 10vh;
    display: flex;
    flex-direction: column;
    height: 50%; }
    @media (max-width: 650px) {
      .popout__text--container {
        height: 100%;
        margin: 5vh; } }
  @media (max-width: 900px) {
    .popout__text {
      font-size: 1.8vw; } }
  @media (max-width: 750px) {
    .popout__text {
      font-size: 2.2vw; } }
  @media (max-width: 600px) {
    .popout__text {
      font-size: 2.6vw; } }
  @media (max-width: 400px) {
    .popout__text {
      font-size: 3.2vw; } }

.popout__link {
  transition: all .25s;
  display: inline; }
  .popout__link:active, .popout__link:link, .popout__link:visited {
    color: white;
    text-shadow: 2px 2px #470000; }
  .popout__link:hover {
    transition: all .25s;
    transform: translateY(-5px);
    color: #bebebe; }

.delete-btn {
  position: absolute;
  right: 1.5vw;
  top: 1.5vw;
  background-color: #a10000;
  color: white;
  padding: 12px 20px;
  border: 2px solid white;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1000; }
  @media (max-width: 750px) {
    .delete-btn {
      padding: 6px 10px;
      top: 90vh; } }
  .delete-btn:hover, .delete-btnactive {
    background-color: #c80000; }

.pricing {
  display: flex;
  justify-content: space-evenly; }
  .pricing-quote {
    font-size: 2vw;
    line-height: 2.5vw;
    color: #e6e6e6;
    margin: 4vh 10vh; }
    @media (max-width: 979px) {
      .pricing-quote {
        font-size: 3.5vw;
        line-height: 5vw;
        margin: 3vh 0; } }

.flexrow {
  display: flex;
  width: 100%;
  margin: 1.5vh 0;
  height: 35vh; }
  @media (max-width: 768px) {
    .flexrow {
      flex-flow: column;
      margin: 0;
      height: unset; } }
  .flexrow--tworow {
    flex-flow: row wrap !important; }
  .flexrow__item {
    overflow: hidden;
    position: relative; }
    @media (max-width: 768px) {
      .flexrow__item {
        height: 40vh; } }
    .flexrow__item--tworowitem {
      flex: 0 0 50% !important;
      border-radius: unset !important;
      margin: 0 1rem 1rem 1rem; }
      @media (max-width: 768px) {
        .flexrow__item--tworowitem {
          margin: 0; } }
      .flexrow__item--tworowitem:hover, .flexrow__item--tworowitem:focus {
        border: solid 0.8rem black; }
    .flexrow__item:hover .flexrow__item--content:before,
    .flexrow__item:focus .flexrow__item--content:before {
      background: rgba(100, 0, 0, 0.5); }
    .flexrow__item--content {
      transition: .75s;
      height: 100%;
      width: 100%;
      background-color: black;
      background-position: center;
      background-size: cover;
      display: flex; }
      .flexrow__item--content:before {
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        transition: .5s; }
      .flexrow__item--content:hover, .flexrow__item--content:focus {
        transform: scale(1.3);
        position: relative;
        cursor: pointer; }
