.faq {
    box-shadow: inset 1px 4px 15px 15px var(--color-offBlack);
    background: radial-gradient(circle at 50% 50%, rgb(75, 75, 75) 5%, rgb(0, 0, 0)50%);
    min-height: 100vh;
    display:flex;
    flex-flow:column wrap;
    align-items: center;
    padding: 10vh 8vw;
    font-weight:700;
    text-align:center;
    color: var(--color-whitePrimary);
    @media(max-width:1000px){
        padding:1vh 2vw;
    }
  
    &__container{
        background-color: var(--color-offBlack);
        box-shadow: 1px 0px 15px 15px rgba(255, 255, 255, 0.75);
        
        border-radius:1rem;
        padding:2rem;
        @media(max-width:500px){
            border:none;
            box-shadow: inset 1px 0px 10px 2px  rgba(255, 255, 255, 0.75);
        }
    }
    &__header{
       
        font-size:5rem;padding-bottom:1rem;
        border-bottom:.2rem solid var(--color-whitePrimary);
        @media(max-width:800px){
            font-size:4rem;
        }
    }
    &__outerbox{
        line-height: 2.5rem;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        flex:1 0; 
        font-size:2rem;
        border-bottom:1px solid white;
        margin:2rem;
        @media(max-width:800px){
            font-size:1.6rem;
            margin:1rem
        }
        &:hover .faq__content {
            transition: max-height 2s;
            max-height: 200px;
        }
    }
    &__content {
 
        margin:.5rem 0 2rem;
        font-weight:300;
        overflow: hidden;
        transition: max-height .5s;
    }
}


